#container {
    position: relative;
    left: 100px;
    width: 500px;
    height: 300px;
    border: 5px black solid;
    background-color: #EEE;
    cursor: pointer;
}

#thing {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 225px;
    top: 125px;
    background-color: green;
    transition: transform .5s, background .5s;
}
#thing:hover {
    background-color: red;
}

#thing:active {
    transform: scale(3);
}
